# This is Git's per-user configuration file.
[user]
	name = YuryOstrovsky
	email = yostrovs@extremenetworks.com
# Please adapt and uncomment the following lines:
#	name = Jupyter
#	email = jupyter@apilabs.extremewireless.ca
