pytest
artifactory
asyncio
lxml
bs4
pytest-order
pandas
pytest-asyncio
pytest-html==3.1.1
fabric
paramiko
ftputil
httpx
atlassian-python-api
pylint
scp
pyyaml
pure-python-adb
uiautomator2
pytest-rerunfailures
selenium
pyshark
pysnmp

